.vscode/
assets/eigen-3.4.0/
*.so
__pycache__/
*.py[cod]

trains/
trajectory/
test/
*.pth
_*.py
*.txt
*.sh
*.ipynb

immgymenvs/wandb
immgymenvs/data/
immgymenvs/test/**/*.npy
immgymenvs/algos/__pycache__/
immgymenvs/tasks/__pycache__/
immgymenvs/figures
immgymenvs/videos
data/rendered_images
